AUTH_SECRET=your-secret-key-here-min-32-chars-long
AUTH_COGNITO_ID=your-cognito-client-id
AUTH_COGNITO_SECRET=your-cognito-client-secret
AUTH_COGNITO_ISSUER=https://cognito-idp.{region}.amazonaws.com/{PoolId}
