name = "web"
main = "./src/server-entry.ts"

compatibility_date = "2026-02-27"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[[d1_databases]]
binding = "DB"
database_name = "app-local"
database_id = "5f471ee6-8dab-450e-ae9e-ccfc9282ab0b"
preview_database_id = "5f471ee6-8dab-450e-ae9e-ccfc9282ab0b"
migrations_dir = "../../packages/platform/db/d1/src/migrations"

[vars]
APP_ENV = "local"

[env.production]
name = "web"

[[env.production.d1_databases]]
binding = "DB"
database_name = "tanstack-start-cloudflare-workers-template"
database_id = "5f471ee6-8dab-450e-ae9e-ccfc9282ab0b"
preview_database_id = "5f471ee6-8dab-450e-ae9e-ccfc9282ab0b"
migrations_dir = "../../packages/platform/db/d1/src/migrations"
