[tools]
bun = "latest"
chezmoi = "latest"
"npm:@openai/codex" = "latest"
"npm:@playwright/cli" = "latest"
"npm:aws-cdk" = "latest"

[tasks."test:unit"]
description = "Run unit tests"
run = "bunx turbo run test"

[tasks."test:e2e"]
run = "bun run test:e2e"
description = "Run Playwright e2e tests"
